/***************
COLOR VARIABLES
***************/

// Better default colors
// Cool
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

// Gray Scale
$white: #fff;
$silver: #ddd;
$grey: #aaa;
$black: #111;

// Color variables
$primary-color: #2e8b57;
$secondary-color: #233e5b;
$tertiary-color: #aaa;
$link-color: $primary-color;
$background-color: #2e8b57;

$bad-color: $red; // Bad color for errors, validation etc.
$good-color: $green; // Good color for success etc.
$info-color: $blue; // Good color for success etc.
$warning-color: $orange; // Good color for success etc.
$subtle-color: $grey; // Subtle color for subtle text

/***************
CONSISTENT SETTINGS
***************/

$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 40px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.

/***************
TYPE SETTINGS
***************/

$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$serif: "PT Serif", Georgia, Times, serif;
