@media print {
*, :after, :before {
background: transparent !important;
color: #000 !important;
box-shadow: none !important;
text-shadow: none !important;
}

a, a:visited {
text-decoration: underline;}

a[href]:after {
content: " (" attr(href) ")";
}

pre {
border: 1px solid #999;
}

img, pre {
page-break-inside: avoid;
}

img {
max-width: 100% !important;
}

h2, h3, p {
orphans: 3;
widows: 3;
}

h2, h3 {
page-break-after: avoid;
}
}

.site-title {
font-size: 36px;
line-height: 48px;
}

.button {
margin-left: -3px;
position: relative;
z-index: 99999;
height: 59px;
float: left;
}

#header #title .left-side img.logo { opacity: 0.5; }

.page-title { font-weight: bold; }
.page-sub-title { font-weight: bold; color: red }

*, :after, :before {
box-sizing: border-box; !important
}

html {
    background: white; !important
}

.site-nav > li:hover .dropdown {
position: absolute;
top: 37px;
left: 0;
}

.no-border{
padding-bottom:0;
border-bottom:none;
}

html {
font-size: 10px;
-webkit-tap-highlight-color: transparent;
}

body {
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857;
color: #333;
background-color: #fff;
}

input, textarea {
font-family: inherit;
font-size: inherit;
line-height: inherit;
}

a {
color: #337ab7;
text-decoration: none;
}

div {
background-color: #ffc;
padding: 1em;
}

.error-text {
color: #c00!important;
}

a:focus, a:hover {
color: #23527c;
text-decoration: underline;
}

a:focus {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}

figure {
margin: 0;
}

img {
vertical-align: middle;
}

h1, h2, h3 {
font-family: inherit;
font-weight: 500;
line-height: 1.1;
color: inherit;
margin-top: 20px;
margin-bottom: 10px;
}

h1 {
font-size: 36px;
}

h2 {
font-size: 30px;
}

h3 {
font-size: 24px;
}

p {
margin: 0 0 10px;
}

ul {
margin-top: 0;
margin-bottom: 10px;
}

code, pre {
font-family: Menlo,Monaco,Consolas,Courier New,monospace;
}

code {
padding: 2px 4px;
font-size: 90%;
color: #c7254e;
background-color: #f9f4f4;
border-radius: 4px;
}

pre {
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 13px;
line-height: 1.42857;
word-break: break-all;
word-wrap: break-word;
color: #333;
background-color: #f5f5f5
border: 1px solid #ccccccc;
border-radius: 4px;
}

pre code {
padding: 0;
font-size: inherit;
color: inherit;
white-space: pre-wrap;
background-color: transprent;
border-radius: 0;
}

.container {
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
}

.container:after, .container:before {
content: " ";
display: table;
}

.container:after {
clear: both;
}

@media (min-width: 768px) {
.container {
width: 750px;
}
}

@media (min-width: 992px) {
.container {
width: 970px;
}
}

@media (min-width: 1200px) {
.container {
width: 1170px;
}
}

label {
display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: 700;
}

.form-control::-moz-placeholder {
color: #999;
opacity: 1;
}

.form-control:-ms-input-placeholder {
color: gray;
}

.form-control::-ms-expand {
border: 0;
background-color: transparent;
}

.pagination {
display: inline-block;
padding-left: 0;
margin: 20px 0;
border-radius: 4px
}

.clearfix:after, .clearfix:before {
content: " ";
display: table;
}

.article #comments ul > li > a.button {
color: #ffffff;
background-color: red;
font-size: 16px
}

#button {
  width: 200px;
  height: 50px;
  padding: 10px;
  border: solid 1px #ccc;
  background: linear-gradient(#ccc, #222);
  box-shadow: rgba(0, 0, 0, .5) 2px 2px 5px;
}

#box {
  width: 400px;
  overflow: hidden;
  border: solid 1px #ccc;
  background: linear-gradient(#ccc, #222);
  box-shadow: rgba(0, 0, 0, .5) 2px 2px 5px;
}

#widget {
  width: 500px;
  min-height: 200px;
  overflow: auto;
  border: solid 1px #ccc;
  background: linear-gradient(#ccc, #222);
  box-shadow: rgba(0, 0, 0, .5) 2px 2px 5px;
}

@-ms-viewport {
width: device-width;
}

.clearfix {
zoom: 1;
}

.clearfix:after, .clearfix:before { content: "\0020"; display: block; height: 0; overflow: hidden}

.clearfix:after {
clear: both;
}

body {
font-size: 1em;
line-height: 1.45;
}

body .intro {
font-size: 1.25em;
line-height: 1.7;
}

@media (min-width: 43.75em) {
body {
font-size: 1em;
line-height: 1.375;
}
}
.special-link { border: none; }


#layout #header #title .logo a { display: block; }

h1, h2, h3 {
margin: .5rem 0 1.5rem;
font-family: PT Serif,Georgia,Times,serif;
font-weight: 700;
}
#header a { border: 2px dashed #000; }

h1 {
font-size: 2em;
line-height: 1.25
}
#my-link { color: red; }
.my-link { color: green; }
a { color: blue; }

@media (min-width: 43.75em) {
h1 {
font-size: 2.5em;
line-height: 1.125;
}
}

@media (min-width: 56.25em) {
h1 {
font-size: 3em;
line-height: 1.05
}
}

h2 {
font-size: 1.625em;
line-height: 1.15384615;
}

@media (min-width: 43.75em) {
h2 {
font-size: 2em;
line-height: 1.25;
}
}

@media (min-width: 56.25em) {
h2 {
font-size: 2.25em;
line-height: 1.25;
}
}

h3 {
font-size: 1.375em;
line-height: 1.13636364;
}

@media (min-width: 43.75em) {
h3 {
font-size: 1.5em;
line-height: 1.25;
}
}

@media (min-width: 56.25em) {
h3 {
font-size: 1.75em;
line-height: 1.25;
}
}

.button, .button__outline {
background-color: #2e8b57;
display: inline-block;
position: relative;
font-family: Open Sans,Helvetica,Arial,sans-serif;
text-decoration: none;
color: #fff;
font-size: 1em;
line-height: 1.2em;
font-weight: 400;
padding: .5em 1.5em;
border: 0;
border-radius: 4px;
cursor: pointer;
margin-bottom: .5em;
transition: background-color .14s ease-in-out;
}

.button:focus, .button:hover, .button__outline:focus, .button__outline:hover {
color: #fff;
text-decoration: none;
background-color: #21653f;
}

.button:active, .button__outline:active {
top: 1px;}

.button__outline {
background-color: transparent;
border: 3px solid #2e8b57;
color: #2e8b57;
}

.button__outline:hover {
background-color: #2e8b57;
color: #fff;
}

label {
display: block;
margin-bottom: 5px;
}

input[type=email], input[type=text], textarea {
background: #e6e6e6;
padding: 5px;
outline: none;
border: none;
height: 44px;
width: 300px;
margin-bottom: .5rem;
}

input[type=email]:focus, input[type=text]:focus, textarea:focus {
border: 1px solid #2e8b57;
}

input[type=email].full-width, input[type=text].full-width, textarea.full-width {
width: 100%;
}

textarea {
height: 132px;
}

form {
margin-bottom: 40px;
}

.highlight {
white-space: pre;
overflow: auto;
word-wrap: normal;
border-radius: 3px;
padding: 20px;
background: #343642;
color: #c1c2c3;
}

.highlight .kt {
color: #e3e7df;}

.highlight .c, .highlight .c1, .highlight .cm {
color: #8d9684;}

.highlight .err, .highlight .n, .highlight .nc,
.highlight .nd, .highlight .p, .highlight .s, .highlight .s2 {
color: #c1c2c3;}

.highlight .k, .highlight .nt {
color: #729fcf;}

.highlight .na, .highlight .nf {
color: #e9a94b;}

.highlight .m, .highlight .mh, .highlight .mi, .highlight .nb, .highlight .no {
color: #8ae234;}

.highlight .o {
color: #989daa}

.highlight .nv {
color: #fff;}

html {
font-size: initial;
box-sizing: border-box;
}

*, :after, :before {
box-sizing: inherit;
}

body {
font-family: PT Serif,Georgia,Times,serif;
line-height: 1.75;
font-size: 112.5%;
color: #111;
overflow-x: hidden;
}

body p, body ul {
margin: 0 0 2rem;
}

body p code {
color: #2e8b57;
font-weight: 700;
}

::-moz-selection {
background: #2e8b57;
color: #fff;
}

::selection {
background: #2e8b57;
color: #fff;
}

img {
max-width: 100%;
}

.container {
max-width: 610px;
margin-left: auto;
margin-right: auto;
padding: 0 20px;
}

.container:after {
content: " ";
display: block;
clear: both;
}

a {
color: #2e8b57;
}

a:hover {
color: #1b5233;
}

.nav-collapse {
z-index: 1;
}

.nav-collapse ul {
margin: 0;
padding: 0;
width: 100%;
display: block;
list-style: none;
}

.nav-collapse ul li {
width: 100%;
display: block;
background: #2e8b57;
border-bottom: 2px solid #349e63;
}

.nav-collapse ul li a {
color: #fff;
text-decoration: none;
display: block;
padding: 5px 2rem;
}

.js .nav-collapse {
clip: rect(0 0 0 0);
max-height: 0;
position: absolute;
display: block;
overflow: hidden;
zoom: 1;
clear: both;
width: 100%;
}

.nav-collapse.opened {
max-height: 9999px;
}

.nav-toggle {
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
float: right;
line-height: 2em;
margin-top: .5em;
background-color: #2e8b57;
border-radius: 4px;
padding: 0 .5em;
color: #fff;
text-decoration: none;
position: relative;
right: 2rem;
transition: all .2s ease-in-out;
}

.nav-toggle:hover {
color: #fff;
background-color: #21653f;
}

.noList {
list-style: none;
padding-left: 0;
margin-left: 0;
}

.pageTitle {
margin: 2rem auto 1em;
text-align: center;
}

.content {
padding-top: 1em;
}

.header {
background-color: #2e8b57;
background-image: url(../images/sassy.jpg);
background-blend-mode: multiply;
background-size: cover;
background-position: 50%;
color: #fff;
padding: 0;
height: 3em;
}

.header .container {
padding: 0;
max-width: 100%;
margin-left: auto;
margin-right: auto;
}

.header .container:after {
content: " ";
display: block;
clear: both;
}

.header h1 {
margin: 0;
float: left;
padding-left: 2rem;
font-size: 1em;
line-height: 3em;
font-family: Open Sans,Helvetica,Arial,sans-serif;
font-weight: 800;
text-transform: uppercase;
}

.header h1 a {
color: #fff;
text-decoration: none;
}

.post .postTitle {
text-align: center;
margin-top: 2rem;
margin-bottom: 1rem;
}

.post .meta {
text-align: center;
color: gray;
font-family: Open Sans,Helvetica,Arial,sans-serif;
font-weight: 300;
}

.post figure {
margin: 3rem 0;
}

.post .highlight, .post img {
margin-bottom: 2rem;
}

.post .highlight {
clear: both;
}

.post .dropcap {
color: #2e8b57;
margin-right: .45rem;
}

.postNav {
border-top: 1px solid #e6e6e6;
border-bottom: 1px solid #e6e6e6;
overflow: hidden;
}

.postNav .next, .postNav .prev {
display: block;
width: 100%;
height: 5rem;
overflow: hidden;
position: relative;
font-family: Open Sans,Helvetica,Arial,sans-serif;
font-weight: 800;
font-size: .9em;
text-transform: uppercase;
text-align: center;
}

.postNav .next span, .postNav .prev span {
z-index: 2;
padding: .5rem;
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
width: 100%;
line-height: 1.4;
}

.postNav .prev span {
left: 0;
}

.postNav .next span {
right: 0;
}

.footer {
text-align: center;
padding: 2rem 0;
}

.footer .container {
border-top: 4px solid #d9d9d9;
padding-top: .5em;
max-width: 90%;
margin-left: auto;
margin-right: auto;
}

.footer .container:after {
content: " ";
display: block;
clear: both;
}

.footer .copy, .footer .footer-links {
font-size: .8em;
}

.footer .copy {
margin-bottom: 1rem;
}

.footer-links ul {
text-align: center;
}

.footer-links ul li {
display: inline-block;
}

.footer-links ul li a {
display: inline-block;
width: 30px;
height: 30px;
transition: all .2s ease-in-out;
}

.footer-links ul li a svg {
display: block;
width: 100%;
height: 100%;
}

.footer-links ul li a svg .outer-shape {
fill: #2e8b57;
}

.footer-links ul li a svg .inner-shape {
fill: #fff;
}

.footer-links ul li:hover a svg .outer-shape {
fill: #21653f;
}

.pagination .next {
float: left;
}

.pagination .previous {
float: right;
}

.posts li {
margin-bottom: 4rem;
position: relative;
}

.posts li:before {
content: "";
position: absolute;
bottom: -2rem;
left: 0;
background: #e6e6e6;
height: 2px;
width: 60px;
}

.posts li a {
text-decoration: none;
}

.posts li a:hover {
text-decoration: underline;
}

.posts li .date {
color: gray;
font-family: Open Sans,Helvetica,Arial,sans-serif;
font-weight: 300;
font-size: .8em;
}

.posts li h3 {
margin: 0 0 .5em;
}

@media only screen and (min-width: 800px) {
.content {
padding-top: 0;
position: relative;
z-index: 1;
}

.content:after {
z-index: -1;
background: white;
content: "";
display: block;
width: 100%;
height: 5em;
position: absolute;
top: -2em;
left: 0;
-webkit-transform: skewY(-2deg);
transform: skewY(-2deg);
-webkit-transform-origin: bottom left;
transform-origin: bottom left;
}

.container {
max-width: 800px;
margin-left: auto;
margin-right: auto;
padding: 0;
}

.container:after {
content: " ";
display: block;
clear: both;
}

#home .pageTitle, #home .pagination, #home .posts {
width: 74.46809%;
float: left;
margin-right: 2.12766%;
float: none;
margin: 0 auto 1.5em;
}

#home .pageTitle {
margin: 2rem auto 1em;
}

.header {
height: 15em;
position: relative;
padding-bottom: 2em;
}

.header .container {
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
max-width: 800px;
margin-left: auto;
margin-right: auto;
}

.header .container:after {
content: " ";
display: block;
clear: both;
}

.header h1 {
font-size: 3em;
line-height: 1;
letter-spacing: -3px;
padding-left: 0;
}

.header nav {
float: left;
clear: left;
}

.header nav ul {
margin: 0;
}

.header nav ul li {
display: inline;
line-height: 3em;
background: none;
padding: 0 5px;
border: 0;
}

.header nav ul li a {
color: white;
font-size: .9em;
text-decoration: none;
padding: 0 .25em;
}

.header nav ul li a:hover {
color: #ccc;
}

.header nav ul li.current {
padding-bottom: .25em;
border-bottom: 4px solid hsla(0, 0%, 100%, 0.4);
}

.js .nav-collapse {
position: relative;
max-height: none;
}

.js .nav-collapse.closed {
max-height: none;
}

.js .nav-collapse ul li a {
display: inline-block;
}

.nav-toggle {
display: none;
}

.post .pageTitle, .post h1, .post h2, .post p, .post ul {
width: 74.46809%;
float: left;
margin-right: 2.12766%;
float: none;
margin: 0 auto 2rem;
}

.post h1, .post h2 {
margin: 1rem auto;
}

.post .pageTitle {
margin: 2rem auto 1em;
}

.postNav .next, .postNav .prev {
width: 50%;
}

.postNav .prev {
float: left;
text-align: left;
}

.postNav .next {
text-align: right;
float: right;
}

.footer-links {
float: right;
}

.footer .copy {
float: left;
}

.footer .container {
padding: 1rem 0;
max-width: 800px;
margin-left: auto;
margin-right: auto;
}

.footer .container:after {
content: " ";
display: block;
clear: both;
}

.contactContent {
width: 48.93617%;
float: left;
margin-right: 2.12766%;
}

#contact form {
width: 48.93617%;
float: right;
margin-right: 0;
}
}
